.flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.jc-around {
  justify-content: space-around;
}
.jc-end {
  justify-content: flex-end;
}
.jc-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
